{% extends "layout.html" %}
{% block content %}

<div>
    <h2>About The Application</h2>
    <hr>
    <p style="text-align: justify;">
        The House Price Forecast is a flask based web application which is a  machine learning problem
        statements along with various pre-trained models . Here, you can find completely end-to-end
        implemented topics along with references to their datasets and the source code as well.
        <br>
        <br>
        Just  fill in the required fields, try out different algorithms and make powerful
        predictions. Click on the 'Start Predicting' button now  and start using these amazing models
        on your own!
    </p>

    <h1>About Us</h1>
    <hr>
    <h3 style="color : red">Instructor</h3>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">

            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
        <div class="col-md-8 float-right mt-2">
            <p style="text-align: justify;">

                <h5>Fahad Ahmed</h5>
                <br>
                <p>Lecturer</p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:fahadahmed@uap-bd.edu">Email : fahadahmed@uap-bd.edu</a></p>

            </p>
        </div>
    </div>
    <hr>
    <h3 style="color : red">Developer</h3>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">

            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
        <div class="col-md-8 float-right mt-2">
          <p style="text-align: justify;">

                <h5>Tanveer Ahamed Rabby</h5>
                <br>
                <p>Student(Final Year)</p>
                <p>Student ID : 18101025</p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:18101025@uap-bd.edu">Email : 18101025@uap-bd.edu</a></p>

            </p>
            </p>
        </div>
    </div>

    <div style="display: inline-block;">
        <div class="col-md-4 float-left">

            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
        <div class="col-md-8 float-right mt-2">
            <p style="text-align: justify;">

                <h5>Md. Efti Khirul Alam</h5>
                <br>
                <p>Student(Final Year)</p>
                <p>Student ID : 18101014</p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:18101014@uap-bd.edu">Email : 18101014@uap-bd.edu</a></p>

            </p>
        </div>
    </div>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">

            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
        <div class="col-md-8 float-right mt-2">
            <p style="text-align: justify;">

                <h5>Sharmin Akter</h5>
                <br>
                <p>Student(Final Year)</p>
                <p>Student ID : 18101065</p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:18101065@uap-bd.edu">Email : 18101065@uap-bd.edu</a></p>

            </p>
        </div>
    </div>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">

            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
        <div class="col-md-8 float-right mt-2">
            <p style="text-align: justify;">

               <h5>Golam Rasul Azad</h5>
                <br>
                <p>Student(Final Year)</p>
                <p>Student ID : 17101111</p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:17101111@uap-bd.edu">Email : 17101111@uap-bd.edu</a></p>

            </p>
        </div>
    </div>

</div>

{% endblock %}