{% extends "layout.html" %}
{% block content %}

<div>
    <h2>About The Application</h2>
    <hr>
    <p style="text-align: justify;">
        The House Price Forecast is a flask based web application which is a  machine learning problem
        statements along with various pre-trained models . Here, you can find completely end-to-end
        implemented topics along with references to their datasets and the source code as well.
        <br>
        <br>
        Just  fill in the required fields, try out different algorithms and make powerful
        predictions. Click on the 'Start Predicting' button now  and start using these amazing models
        on your own!
    </p>

    <h1>About Us</h1>
    <hr>
    <h2 >Instructor</h2>

    <div style="display: inline-block;">
<!--        <div class="col-md-4 float-left">-->

<!--            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">-->
<!--        </div>-->
        <div class="col-md-12 float-right mt-2">
            <p style="text-align: justify;">
                <hr>
                <h3 style="color : red">Fahad Ahmed</h3>
                <hr>
                <br>
            <p><b>Lecturer</b></p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:fahadahmed@uap-bd.edu">Email : <b>fahadahmed@uap-bd.edu</b></a></p>

            </p>
        </div>
    </div>
    <br>
    <br>
    <h2 style="background-color : ;">Developer</h2>

    <div style="display: inline-block;">
        <div class="col-md-6 float-left">
            <p style="text-align: justify;">
                <hr>
                <h4 style="color : red">Tanveer Ahamed Rabby</h4>
                <hr>
                <br>
                <p><b>Student</b>(Final Year)</p>
                <p>Student ID : <b>18101025</b></p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:18101025@uap-bd.edu">Email : <b>18101025@uap-bd.edu</b></a></p>

            </p>

<!--            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">-->
        </div>
        <div class="col-md-6 float-right mt-0">
          <p style="text-align: justify;">

            <hr>
            <h4 style="color : red">Sharmin Akter</h4>
            <hr>
                <br>
                <p><b>Student</b>(Final Year)</p>
                <p>Student ID : <b>18101065</b></p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:18101025@uap-bd.edu">Email : <b>18101065@uap-bd.edu</b></a></p>

            </p>
        </div>
    </div>

    <div style="display: inline-block;">
        <div class="col-md-6 float-left">
            <p style="text-align: justify;">
                <hr>
                <h4 style="color : red">Md. Efti Khirul Alam</h4>
                <hr>
                <br>
                <p><b>Student</b>(Final Year)</p>
                <p>Student ID : <b>18101014</b></p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:18101025@uap-bd.edu">Email : <b>18101014@uap-bd.edu</b></a></p>

            </p>
<!--            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">-->
        </div>
        <div class="col-md-6 float-right mt-0">
             <p style="text-align: justify;">

            <hr>
            <h4 style="color : red">Golam Rasul Azad</h4>
                <hr>
                <br>
                <p><b>Student</b>(Final Year)</p>
                <p>Student ID : <b>17101111</b></p>
                <p>Department of Computer science & Engineering</p>
                <p>University of Asia Pacific (UAP)</p>
                <p>Dhaka , Bangladesh</p>
                <p><a href="mailto:18101025@uap-bd.edu">Email : <b>17101111@uap-bd.edu</b></a></p>

            </p>
        </div>
    </div>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">

<!--            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">-->
        </div>
        <div class="col-md-8 float-right mt-2">

        </div>
    </div>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">

<!--            <img src="https://the-ml-dl-app-bucket.s3.amazonaws.com/static/author.png" style="height: 100%; width: 100%; border-radius: 50%;">-->
        </div>
        <div class="col-md-8 float-right mt-2">

        </div>
    </div>


</div>

{% endblock %}