{% extends "layout.html" %}
{% block content %}

<div>
    <h2>About The App</h2>
    <hr>
    <p style="text-align: justify;">
        "House Price Forecast" is a flask based web application.
        <br>
        <br>
        Click on the 'Start Predicting' button now on favourite problem and start using these amazing models
        on your own!
    </p>

    <h2>About Us</h2>
    <hr>
    <div style="display: inline-block;">
        <div class="col-md-4 float-left">
            <img src="" style="height: 100%; width: 100%; border-radius: 50%;">
        </div>
        <div class="col-md-8 float-right mt-2">
            <p style="text-align: justify;">

                <br>
                <br>

            </p>
        </div>
    </div>
    <div>
        <p>

        </p>
    </div>
</div>

{% endblock %}